<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
      <base href = "/">
    <link rel="stylesheet" type="text/css" href="../static/css/homepagestyle.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/button.css">
    <title>校园食堂外送系统平台</title>
  </head>

  <body>
    <div class="container" >
      <form class="user-login-sign">
        <h1>
          校园食堂外送系统平台
        </h1>
          <button href = "{% url 'signup'}" name="button_type" value="signup" class="sqaure_button"><span></span>sign up</button>
          <button href = "{% url 'loginin'}" name="button_type" value="loginin" class="sqaure_button"><span></span>login in</button>
        </form>
    </div>

    <!--尾部-->
    <div id="footer">
        <div class="link">
            <p>QQ：1021734560</p>
            <p>GitHub：<a href="https://github.com/GranTHdxY">GranTHdxY</a></p>
            <p>邮箱：<a href="mailto:1021734560@qq.com">1021734560@qq.com.com</a></p>
        </div>
        </div>
        <div class="copyright">
            Copyright © 1999 - 2023 granthdxy. All Rights Reserved.
        </div>
    </div>
  </body>
</html>






