html,
body {
    margin: 0 auto;
    font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
    text-align: center;
}

.container {
    
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.ls-form {
    border: 5px solid blue;
    width: 220px;
    height: 330px;
    display: flex;
    flex-direction: column;
    padding: 80px;
    text-align: center;
    position: relative;
    z-index: 1500;
    background: inherit;
    border-radius: 18px;
}

.ls-form input{
    padding: 10px;
    margin-bottom: 10px; 
}